/* .add-game-btn {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #f97316; 
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .add-game-btn:hover {
    width: 140px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
  }
  
  .plus-icon {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  
  .plus-icon::before,
  .plus-icon::after {
    content: "";
    position: absolute;
    background: #221fcf; 
    transition: all 0.3s ease;
    border-radius: 2px;
  }
  
  .plus-icon::before {
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  
  .plus-icon::after {
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .label {
    color: #221fcf;
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0;
    white-space: nowrap;
    margin-left: 12px;
    transition: opacity 0.3s ease;
  }
  
  .add-game-btn:hover .label {
    opacity: 1;
  }
  
  .plus-text {
    color: white
  }
  
  .test {
    color: rgb(134, 11, 11);
  } */


  /*SECOND VERSION*/
.add-game-btn .icon-text {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #f97316;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.add-game-btn:hover {
  width: 140px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
}
.plus-text {
  color: #221fcf; /* Make "+" match the blue you want */
  font-size: 24px;
  flex-shrink: 0;
}
.label {
  color: #221fcf;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  /* margin-left: 12px; */
  left: 100%; 
  transform: translateX(10px);
  transition: opacity 0.3s ease;
}
.add-game-btn:hover .label {
  opacity: 1;
  transform: translateX(0);
  
}
