@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";

@font-face {
  font-family: "SCREAM";
  src: url("./assets/SCREAM__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Custom Scrollbar Styling, applying this "Globaly" as to be able to use in various components */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #586ca5;
  border-radius: 8px;
  animation: pulse-scroll 2s infinite;
  transition: background-color 0.3s ease;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #1e3a8a;
  border-radius: 8px;
}

/* Scroll bar animation! */
@keyframes pulse-scroll {
  0%,
  100% {
    background-color: #586ca5;
  }
  50% {
    background-color: #7f9cf5;
  }
}

.forge-tilt {
  transform: perspective(400px) rotate3d(1, -1, 0, calc(var(--i, 1) * 8deg));
  mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100% / 240%
    240%;
  transition: 0.4s;
  cursor: pointer;
}

.forge-tilt:hover {
  --i: -1;
  mask-position: 0 0;
}


/* RETURN BUTTON STYLING */
.button {
  /* in scss with just one variable i can change opacity with rgba(variable, opacity) but in css it's not possible so i have used three seperate variables */
  /* with hue-rotate color can be changed */
  --main-color: #002fff; /* neon grid blue */
  --main-bg-color: #0a0b2f; /* dark futuristic bg */
  --accent-glow: #2d1eff; /* electric blue for hover/focus */
  --pattern-color: rgba(0, 191, 255, 0.08); /* soft overlay */

  /* change this rotation value */
  filter: hue-rotate(0deg);

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    15px 15px,
    15px 15px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  font-weight: 900;
  font-size: 0.8rem;
  transition: background-size 0.2s ease-in-out;
  padding: 0.5rem 1.5rem; 

}

.button:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}
.button:active {
  filter: hue-rotate(250deg);
}
